@page
@model Presentation.Pages.Competitie.CompetitieModel;

@{
    ViewData["Title"] = "Competitie";
    Layout = "_Layout";
}

<main>
    <div class="mb-6">
        <h1 class="text-3xl font-bold text-black-700 mb-4">Komende Competities:</h1>

        @if (User.IsInRole("Trainer"))
        {
            <a asp-page="/Competitie/Toevoegen"
               class="fixed bottom-6 right-6 bg-red-600 text-white rounded-full shadow-lg w-14 h-14 flex items-center justify-center hover:bg-red-700 transition duration-300"
               title="Toevoegen">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                </svg>
            </a>
        }
    </div>

    <div>
        @if (Model.Competities != null && Model.Competities.Any())
        {
            @foreach (var competitie in Model.Competities)
            {
                @if (competitie.ProgrammaId > 0)
                {
                    <a asp-page="/programma/index" asp-route-id="@competitie.ProgrammaId" class="no-underline">
                        <div
                            class="max-w-6xl mx-auto bg-white shadow-lg rounded-2xl p-6 hover:scale-105 hover:shadow-xl transform transition-all duration-300 mb-6">
                            <h2 class="text-2xl font-bold text-gray-800 mb-2">@competitie.Naam</h2>
                            <p class="text-gray-600">
                                Startdatum: @(competitie.StartDatum.ToString("dd-MM-yyyy") ?? "Niet bekend")<br/>
                                Einddatum: @(competitie.EindDatum.ToString("dd-MM-yyyy") ?? "Niet bekend")<br/>
                                Locatie: @competitie.ZwembadAdres
                            </p>
                        </div>
                    </a>
                }
                else
                {
                    <div class="max-w-6xl mx-auto bg-gray-100 rounded-2xl p-6 mb-6">
                        <h2 class="text-2xl font-bold text-gray-400 mb-2">@competitie.Naam</h2>
                        <p class="text-gray-400">Geen programma beschikbaar</p>
                    </div>
                }
            }
        }
        else
        {
            <p>Er zijn momenteel geen competities beschikbaar.</p>
        }
    </div>
</main>